services:
  - type: web
    runtime: node
    name: Magic3T Backend

    plan: free
    buildCommand: npm ci && npm run build --workspace=backend
    startCommand: npm run start:prod --workspace=backend
    region: virginia
    repo: https://github.com/King-witcher/Magic3T
    envVars:
      # Self Requests
      - key: HEARTBEAT_RATE
        value: 60000 # 10 minutes
      - key: MAGIC3T_BACKEND_URL
        value: https://backend.magic3t.com.br

      # Firebase
      - key: FIREBASE_ADMIN_CREDENTIALS
        sync: false
      - key: FIRESTORE_DB
        value: "production"

      # Sentry
      - key: SENTRY_DSN
        sync: false
      - key: SENTRY_AUTH_TOKEN
        sync: false

      - key: DEBUG
        value: "false"
    healthCheckPath: /status
    domains:
      - backend.magic3t.com.br
      - api.magic3t.com.br
    buildFilter:
      paths:
        - backend/**
        - lib/**
      ignoredPaths:
        - lib/types/**

  - type: redis
    name: Magic3T Redis
    plan: free
    region: virginia
    maxmemoryPolicy: allkeys-lru
    ipAllowList: []

version: "1"
