/* @import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap'); */
@import "tailwindcss";
@import "tw-animate-css";
@import "@/styles/fonts.sass";

@theme {
  --breakpoint-xs: 30rem;

  --font-sans: spiegel, sans-serif;
  --font-serif: beaufort, serif;
  --font-mono: "Source Code Pro", monospace;

  --color-blue-1: #cdfafa;
  --color-blue-2: #0ac8b9;
  --color-blue-3: #0397ab;
  --color-blue-4: #005a82;
  --color-blue-5: #0a323c;
  --color-blue-6: #091428;
  --color-blue-7: #0a1428;

  --color-gold-1: #f0e6d2;
  --color-gold-2: #c8aa6e;
  --color-gold-3: #c8aa6e;
  --color-gold-4: #c89b3c;
  --color-gold-5: #785a28;
  --color-gold-6: #463714;
  --color-gold-7: #32281e;

  --color-grey-1: #a09b8c;
  --color-grey-1-5: #5b5a56;
  --color-grey-2: #3c3c41;
  --color-grey-3: #1e2328;
  --color-grey-cool: #1e282d;
  --color-hextech-black: #010a13;

  --animate-fade-in: fade-in 0.1s ease-in-out;
  --animate-blink: blink 500ms steps(1) infinite;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  background: var(--color-gold-4);
  border-radius: 999px;
}

body {
  background-color: var(--color-hextech-black);
  color: var(--color-gold-1);
}
