name: Audit

on:
  push:
    branches:
      - main
  schedule:
    - cron: 0 9 * * *
  pull_request:
  workflow_dispatch:

jobs:
  audit:
    name: Audit
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: npm audit
        run: npm audit --audit-level=moderate
